<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:sharedUserId="android.uid.system" android:versionCode="120" android:versionName="1.20_231201" android:compileSdkVersion="28" android:compileSdkVersionCodename="9" coreApp="true" package="com.wits.ksw" platformBuildVersionCode="28" platformBuildVersionName="9">
    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="28"/>
    <uses-permission android:name="android.permission.DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_DEVICE_CONFIG"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:name="com.wits.ksw.KswApplication" android:debuggable="true" android:allowBackup="true" android:supportsRtl="false" android:extractNativeLibs="false" android:resizeableActivity="false" android:roundIcon="@mipmap/ic_launcher_round" android:appComponentFactory="android.support.v4.app.CoreComponentFactory">
        <activity android:name="com.wits.ksw.settings.als_id7_ui_set.AlsID7UiFactoryActivity"/>
        <activity android:name="com.wits.ksw.MainActivity" android:clearTaskOnLaunch="true" android:stateNotNeeded="true" android:excludeFromRecents="true" android:launchMode="singleTask" android:screenOrientation="landscape" android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|navigation|keyboardHidden|keyboard|mnc|mcc" android:windowSoftInputMode="adjustNothing|stateHidden" android:resumeWhilePausing="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.MONKEY"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/BaseActivityTheme" android:name="com.wits.ksw.launcher.view.AppsActivity" android:excludeFromRecents="true" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.wits.ksw.ACTION_APPS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.Translucent" android:name="com.wits.ksw.BlackActivity" android:exported="false" android:excludeFromRecents="true"/>
        <activity android:name="com.wits.ksw.launcher.view.DashboardActivity" android:excludeFromRecents="true" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.wits.ksw.ACTION_DASHBOARD"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.wits.ksw.settings.SettingsActivity" android:exported="true" android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="com.on.systemUi.start.voice.function"/>
                <action android:name="com.on.systemUi.start.voice"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.wits.ksw.settings.id7.FactoryActivity" android:excludeFromRecents="true"/>
        <activity android:theme="@style/AppThemeTran" android:name="com.wits.ksw.settings.id7.ID7SettingsActivity"/>
        <activity android:theme="@style/AppThemeTran" android:name="com.wits.ksw.settings.alsid7.AlsID7SettingsActivity" android:finishOnTaskLaunch="true"/>
        <activity android:theme="@style/AppThemeTran" android:name="com.wits.ksw.settings.als_id7_ui_set.AlsId7UiSettingsActivity" android:finishOnTaskLaunch="true"/>
        <activity android:theme="@style/AppThemeTran" android:name="com.wits.ksw.settings.bmw_id8.activity.BmwId8SettingsMainActivity" android:finishOnTaskLaunch="true"/>
        <activity android:theme="@style/AppThemeTran" android:name="com.wits.ksw.settings.bmw_id8.activity.BmwId8GsSettingsMainActivity" android:finishOnTaskLaunch="true"/>
        <activity android:theme="@style/AppThemeTran" android:name="com.wits.ksw.settings.bmw_id8.activity.BmwId8PempSettingsMainActivity" android:finishOnTaskLaunch="true"/>
        <activity android:theme="@style/AppThemeTran" android:name="com.wits.ksw.settings.bmw_id8.activity.BmwId8SettingsSystemActivity"/>
        <activity android:theme="@style/AppThemeTran" android:name="com.wits.ksw.settings.bmw_id8.activity.BmwId8SettingsNaviActivity"/>
        <activity android:theme="@style/AppThemeTran" android:name="com.wits.ksw.settings.bmw_id8.activity.BmwId8SettingsAudioActivity"/>
        <activity android:theme="@style/AppThemeTran" android:name="com.wits.ksw.settings.bmw_id8.activity.BmwId8SettingsLanguageActivity"/>
        <activity android:theme="@style/AppThemeTran" android:name="com.wits.ksw.settings.bmw_id8.activity.BmwId8SettingsTimeActivity"/>
        <activity android:theme="@style/AppThemeTran" android:name="com.wits.ksw.settings.bmw_id8.activity.BmwId8SettingsFactoryActivity"/>
        <activity android:theme="@style/AppThemeTran" android:name="com.wits.ksw.settings.bmw_id8.activity.BmwId8SettingsInfoActivity"/>
        <activity android:theme="@style/AppThemeTran" android:name="com.wits.ksw.settings.ntg6.Ntg6SettingsActivity"/>
        <activity android:theme="@style/AppThemeTran" android:name="com.wits.ksw.settings.id6.ID6SettingsActivity"/>
        <activity android:theme="@style/BaseActivityTheme" android:name="com.wits.ksw.launcher.id7_new.Id7NewActivity" android:excludeFromRecents="true" android:launchMode="singleTask"/>
        <activity android:theme="@style/AppThemeTran" android:name="com.wits.ksw.settings.lexus.LexusSettingsActivity"/>
        <activity android:theme="@style/AppThemeTran" android:name="com.wits.ksw.settings.romeo.RomeoSettingsActivity"/>
        <activity android:theme="@style/AppThemeTran" android:name="com.wits.ksw.launcher.view.lexus.OEMFMActivity"/>
        <activity android:theme="@style/AppThemeTran" android:name="com.wits.ksw.settings.land_rover.LandroverSettingsActivity"/>
        <activity android:theme="@style/AudiAppTheme" android:name="com.wits.ksw.settings.audi.AudiSettingMainActivity" android:excludeFromRecents="true" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.wits.ksw.AUDI_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.wits.ksw.settings.audi.AudiLanguageActivity"/>
        <activity android:name="com.wits.ksw.settings.audi.AudiTimeActivity"/>
        <activity android:name="com.wits.ksw.settings.audi.AudiSoundActivity"/>
        <activity android:name="com.wits.ksw.settings.audi.AudiSystemActivity"/>
        <activity android:name="com.wits.ksw.settings.audi.AudiNaviActivity"/>
        <activity android:name="com.wits.ksw.settings.audi.AudiSystemInfoActivity"/>
        <activity android:name="com.wits.ksw.settings.audi.AudiEqActivity"/>
        <activity android:name="com.wits.ksw.settings.audi.AudiSpeedUnitActivity"/>
        <activity android:name="com.wits.ksw.settings.audi.AudiReverCameraActivity"/>
        <activity android:name="com.wits.ksw.settings.audi.AudiBrightnessActivity"/>
        <activity android:name="com.wits.ksw.settings.audi.AudiAuxActivity"/>
        <activity android:name="com.wits.ksw.settings.audi.AudiTempActivity"/>
        <activity android:name="com.wits.ksw.settings.audi.AudiPasswordActivity"/>
        <activity android:name="com.wits.ksw.settings.audi.AudiSelThirdAppActivity"/>
        <activity android:name="com.wits.ksw.settings.audi_mib3.AudiMbi3SelThirdAppActivity"/>
        <activity android:theme="@style/AudiAppTheme" android:name="com.wits.ksw.settings.audi_mib3.AudiMib3SettingMainActivity" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.wits.ksw.AUDI_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.wits.ksw.settings.audi_mib3.AudiMib3LanguageActivity"/>
        <activity android:name="com.wits.ksw.settings.audi_mib3.AudiMib3TimeActivity"/>
        <activity android:name="com.wits.ksw.settings.audi_mib3.AudiMib3SoundActivity"/>
        <activity android:name="com.wits.ksw.settings.audi_mib3.AudiMib3SoundAndroidActivity"/>
        <activity android:name="com.wits.ksw.settings.audi_mib3.AudiMib3SoundOemActivity"/>
        <activity android:name="com.wits.ksw.settings.audi_mib3.AudiMib3SystemActivity"/>
        <activity android:name="com.wits.ksw.settings.audi_mib3.AudiMib3NaviActivity"/>
        <activity android:name="com.wits.ksw.settings.audi_mib3.AudiMib3SystemInfoActivity"/>
        <activity android:name="com.wits.ksw.settings.audi_mib3.AudiMib3EqActivity"/>
        <activity android:name="com.wits.ksw.settings.audi_mib3.AudiMib3EqCustomActivity"/>
        <activity android:name="com.wits.ksw.settings.audi_mib3.AudiMib3SpeedUnitActivity"/>
        <activity android:name="com.wits.ksw.settings.audi_mib3.AudiMib3ReverCameraActivity"/>
        <activity android:name="com.wits.ksw.settings.audi_mib3.AudiMib3BrightnessActivity"/>
        <activity android:name="com.wits.ksw.settings.audi_mib3.AudiMib3AuxActivity"/>
        <activity android:name="com.wits.ksw.settings.audi_mib3.AudiMib3TempActivity"/>
        <activity android:name="com.wits.ksw.settings.audi_mib3.AudiMib3PasswordActivity"/>
        <activity android:name="com.wits.ksw.launcher.bmw_id8_ui.ID8EditActivity"/>
        <activity android:name="com.wits.ksw.launcher.bmw_id8_ui.ID8GsEditActivity"/>
        <activity android:name="com.wits.ksw.launcher.bmw_id8_ui.ID8PempEditActivity"/>
        <activity android:name="com.wits.ksw.launcher.bmw_id8_ui.ID8PempModusActivity"/>
        <activity android:name="com.wits.ksw.launcher.bmw_id8_ui.ID8GsModusActivity"/>
        <activity android:name="com.wits.ksw.launcher.bmw_id8_ui.ID8ModusActivity"/>
        <activity android:theme="@style/dialog_style" android:name="com.wits.ksw.launcher.view.benzmbux2021.Benz2021DialogThemeActivity" android:launchMode="singleTop"/>
        <activity android:theme="@style/dialog_style" android:name="com.wits.ksw.launcher.view.benzntg6fy.BenzNtg6FyThemeActivity" android:launchMode="singleTop"/>
        <activity android:theme="@style/dialog_style" android:name="com.wits.ksw.launcher.view.benzmbux2021ksw.Benz2021KswDialogThemeActivity" android:launchMode="singleTop"/>
        <activity android:theme="@style/mcudialog_style" android:name="com.wits.ksw.McuDialogActivity" android:exported="true" android:launchMode="singleTop"/>
        <service android:name="com.wits.ksw.KswRunService"/>
        <provider android:name="android.arch.lifecycle.ProcessLifecycleOwnerInitializer" android:exported="false" android:multiprocess="true" android:authorities="com.wits.ksw.lifecycle-trojan"/>
    </application>
</manifest>
